// Place all the styles related to the slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sidebar_width: 240px;
$menu_height: 54px;
$mobile: 768px;

html, body {
  height: 100%;
}

.sidebar {
  background-color: #f0f0f0;
  position: relative;
  padding: 5px 5px;
  width: $sidebar_width + 38px;
  height: calc(100% - #{$menu_height});
  overflow-y: scroll;
  float: left;
  @media only screen and (max-width: $mobile) {
    width: 100%;
  }
}

.main {
  padding: 10px 10px;
  height: calc(100% - #{$menu_height});
  overflow-y: scroll;
}

@media only screen and (max-width: $mobile) {
  body[data-action='index'] {
    .main {
      display: none;
    }
  }

  body[data-action='edit'] {
    .sidebar {
      display: none;
    }
  }
}

.thumb {
  width: 100%;
  a {
    display: block;
    padding: 5px 5px;
    width: 100%;
    &:hover img {
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    }
    img {
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
      @media only screen and (max-width: $mobile) {
        width: 100%;
      }
    }
  }
  &.active a {
    img {
      box-shadow: 0px 0px 10px 0px rgba(0,62,186,1);
    }
  }
}

.slide_fullwidth {
  img {
    max-width: 100%;
  }
}
